.header {
  height: $header-shrink-height;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 95;

  background-color: #0c0303;
  @include tablet {
    height: $header-tablet-height;
  }

  @include mobile {
    height: $header-mobile-height;
  }

  &.shrink {
    height: $header-shrink-height;

    @include tablet {
      height: $header-tablet-height;
    }

    @include mobile {
      height: $header-mobile-height;
    }
  }

  &__content {
    @include flex(center, space-between);
    @include tablet {
    }

    &__mobile {
      display: none;
      color: #fff;
      @include tablet {
        flex: 1;
      }

      @include tablet {
        display: block;
      }

      &__image {
        font-size: 2.5rem;
      }
    }

    &__logo {
      flex: 1;

      img {
        @include mobile {
          width: 120px;
          line-height: 120px;
        }
      }
    }

    &__menu {
      flex: 3;
      @include tablet {
        flex: 0;
      }

      ul {
        display: flex;
        justify-content: flex-start;
        font-size: 1.5rem;

        @include tablet {
          flex-direction: column;
          position: absolute;
          top: 69px;
          left: 0px;
          padding: 10px 30px;
          height: 100vh;
          background-color: #141414;
          transform: translateX(-100%);
          visibility: hidden;
          opacity: 0;
          transition: all 0.4s ease;
        }

        @include mobile {
          top: 40px;
        }
      }
      ul.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
      &__item ~ &__item {
        margin-left: 30px;
        @include tablet {
          margin-left: 0;
        }
      }
    }

    &__search {
      flex: 1;
      position: relative;

      &__input {
        padding: 8px;
        outline: none;
        border: solid 2px #fff;
        background-color: #0b0b0b;
        color: #fff;
        padding-left: 20%;

        border-radius: 3px;
        align-items: center;
        &::-webkit-input-placeholder {
          color: #fff;
        }

        @include mobile {
          display: none;
          position: absolute;
          right: -10px;
          top: 20px;
        }
      }

      &__history {
        position: fixed;
        top: $header-shrink-height;
        left: 70%;
        right: 0;
        height: 90vh;
        bottom: 0;
        background-color: #111111;
        overflow: scroll;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 99;

        @include tablet {
          left: 50%;
          top: $header-tablet-height;
          height: 90vh;
        }
        @include mobile {
          top: 77px;
          left: 0;
          height: 100vh;
        }
      }
      &__history::-webkit-scrollbar {
        display: none;
      }

      &__icon {
        cursor: pointer;
        font-size: 1.8rem;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;

        @include mobile {
          right: 0;
          left: initial;
        }
      }
    }
  }
}
